<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552069523319-h7rbf1d0qivtcddotiijvkefadgde05n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552069523319-h7rbf1d0qivtcddotiijvkefadgde05n</string>
	<key>API_KEY</key>
	<string>AIzaSyCUqaIlUDCKAWNr66bUwW5AyRR2TkVjy3M</string>
	<key>GCM_SENDER_ID</key>
	<string>552069523319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.innovacoin.copay</string>
	<key>PROJECT_ID</key>
	<string>innova-copay</string>
	<key>STORAGE_BUCKET</key>
	<string>innova-copay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552069523319:ios:3b51e44565e5cc9a</string>
	<key>DATABASE_URL</key>
	<string>https://innova-copay.firebaseio.com</string>
</dict>
</plist>
